@import url("../nav.css");

html {
  width: 100%;
  height: 100% !important;
  
}
body {
  width: 100%;
  height: 100% !important;
}

.card-container {
  max-width: 450px;
}
.card_object:hover {
  scale: 1.01;
  transition: 0.25s;
  filter:brightness(1.1);
}